<%= form_for [:admin, @post], local: true do |f| %>
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Post Title' %>
  </div>
  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: '5' %>
  </div>
  <div class='form-group'>
    <%= f.label :category %>
    <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, class: 'form-control' %><br>
  </div>
  <div class="row">
  <% if @post.images.count > 0 %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize: '50x50') %>
    <% end %>
  <% end %>
  </div>
  <div class="row">
    <%= f.submit "#{f.object.new_record? ? 'Create' : 'Update'}", class: 'btn btn-primary' %>
  </div>
<% end %>