<div id="dashboard" class="container">
  <div class="jumbotron">
    <h1 class="display-4">Posts</h1>
    <p class="lead">This is a simple posts cards on which you can manage the posts of your Blog Application.</p>
    <hr class="my-4">
    <p>To add a new post, please click on the below button</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%= new_admin_post_path %>" role="button">Add</a>
    </p>
  </div>
  <% @posts.in_groups_of(3, false).each do |group| %>
    <div class="card-columns">
      <% group.each do |post| %>
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">
              <%= truncate post.body, length: 160 %>
            </p>
            <span class="badge badge-info">
              <%= post.category.name %>
            </span>
          </div>
          <div class="card-footer text-right">
            <%= link_to '<i class="mi">edit</i>'.html_safe, edit_admin_post_path(id: post.id) %>
            <%= link_to '<i class="mi">delete</i>'.html_safe, admin_post_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>